<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">
  <h4>Sample Chat</h4>
  <fieldset>
    <label for="name">Name:</label>
    <input id="name" type="text" ng-model="name" />
  </fieldset>
  <ul>
    <li ng-repeat="message in messages">
      <strong>{{message.name}}</strong>: {{message.message}}
    </li>
  </ul>
  <fieldset>
    <label for="message">Message:</label>
    <input id="message" type="text" ng-model="message" />
  </fieldset>
  <button type="button" ng-click="sendMessage()">Send</button>
</div>